push.sh
Learning Sound/yorubaspeechcorpus
Learning Sound/2691a33c58f144c3-rev5-timing.zip
Learning Sound/715596__marvin03__bright-nostalgia-iii.wav
Learning Sound/RuDJK4A6nDo__U__S1---0109.540-0113.830.wav
Learning Sound/yorubaspeechcorpus.zip